{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="../static/styles/cuisine_popular.css">
{% endblock %}


{% block body %}

  <div class="container">
      <h1 class="display-1"><em>Vegan Recipe </em>Cuisines</h1> 
  </div>   

  {% for recipe in cuisine_recipes %}
  <h3>{{ recipe.title }}</h3>
  {% endfor %}

    
  <div> 
      <div id="recipe_cuisines" class="container">
          <div class="row">
              <a href="/cuisine/asian">
                <div class="col-sm-6 col-md-4  img-div">
                    <img src="https://images.unsplash.com/photo-1616005944283-486e2bc22990?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YXNpYW4lMjBmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" class="img-responsive mt-2" alt="Asian Food Image by MadMax Chef">
                    <p>Asian</p>
                </div>
             
              <a href="/cuisine/mexican">
                <div class="col-sm-6 col-md-4  img-div">
                    <img src="https://images.unsplash.com/photo-1618414466256-4b62f39b5b30?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=996&q=80" class="img-responsive mt-2" alt="Tacos Image by Megan Sherling">
                    <p>Mexican</p>  
                </div>
              </a>

              <a href="/cuisine/african">              
                <div class="col-sm-6 col-md-4  img-div">
                  <img src="https://images.unsplash.com/photo-1504670555658-db8fb2e908ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80" class="img-responsive mt-2" alt="African Food Image by Naima Mungai">
                  <p>African</p>  
                </div>
              </a>

              <a href="/cuisine/italian">
                <div class="col-sm-6 col-md-4  img-div">
                  <img src="https://images.unsplash.com/photo-1616299908398-9af1134ad522?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGl0YWxpYW4lMjBmb29kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" class="img-responsive mt-2" alt="Italian Food Image by Nerfee Mirandilla">
                  <p>Italian</p>  
                </div>
              </a>

              <a href="/cuisine/american">
                <div class="col-sm-6 col-md-4  img-div">
                  <img src="https://images.unsplash.com/photo-1584283367830-626868ac1dd3?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dmVnZ2llJTIwYnVyZ2VyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" class="img-responsive mt-2" alt="American Food Image by Rolande PG">
                  <p>American</p>  
                </div>
              </a>

              <a href="/cuisine/mediterranean">
                <div class="col-sm-6 col-md-4  img-div">
                  <img src="https://images.unsplash.com/photo-1591120583691-49d2741e55da?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bWVkaXRlcnJhbmVhbiUyMGZvb2R8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" class="img-responsive mt-2" alt="Mediterranean food Image by Mor Shani">
                  <p>Mediterranean</p>  
                </div>
              </a>  

          </div>
      </div>
  </div><br>

  <form id="cuisine_form">
    <label for="other_cuisine">Search Other Cuisine</label><br>
    <select name="cuisine" id="other_cuisine">
      <option value="African">African</option>
      <option value="American">American</option>
      <option value="British">British</option>
      <option value="Cajun">Cajun</option>
      <option value="Caribbean">Caribbean</option>
      <option value="Chinese">Chinese</option>
      <option value="Eastern European">Eastern European</option>
      <option value="European">European</option>
      <option value="French">French</option>
      <option value="German">German</option>
      <option value="Greek">Greek</option>
      <option value="Indian">Indian</option>
      <option value="Irish">Irish</option>
      <option value="Italian">Italian</option>
      <option value="Japanese">Japanese</option>
      <option value="Jewish">Jewish</option>
      <option value="Korean">Korean</option>
      <option value="Latin American">Latin American</option>
      <option value="Mediterranean">Mediterranean</option>
      <option value="Mexican">Mexican</option>
      <option value="Middle Eastern">Middle Eastern</option>
      <option value="Nordic">Nordic</option>
      <option value="Southern">Southern</option>
      <option value="Spanish">Spanish</option>
      <option value="Thai">Thai</option>
      <option value="Vietnamese">Vietnamese</option>
    </select>
    <button type="submit" class="btn btn-light">Submit</button>
  </form>


<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<!-- Javascrip  -->
<script src="/static/cuisine.js"></script>


{% endblock %}


