<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
  
  </style>
</head>

<body>

 <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <span>Powered By Plants</span>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <form class="navbar-form" action="/users">
            <input name="q" class="form-control" placeholder="Search Warbler" id="search">
            <button class="btn btn-default">
              <span class="fa fa-search"></span>
            </button>
          </form>
        </li>
        <li class="p-2"><a href="/signup">Sign up</a></li>
        <li class="p-2"><a href="/login">Log in</a></li>
        <li class="p-2"><a href="/logout">Log out</a></li>
        <li class="p-2"><a href="/search">Search</a></li>
      </ul>
    </div>
  </nav>
    
  {% block body %}{% endblock %}

<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="../static/recipe.js"></script>

</body>
</html>

