<!doctype html>
<html>
<head>
  <title>Powered By Plants</title>
  <script src="https://unpkg.com/jquery"></script>
</head>
<body>
  <h1>Search recipe</h1>
  <form>
      <input id="search-query" value="lentils">
      <button id="search">Search</button>
      <button id="search2">Search2</button>
  </form>
  <form action="/">
    <input id="search-query" value="lentils">
    <button id="search2">Search2</button>
</form>

  <div id="search-results"></div>
  

  <h1>Login</h1>
  <form id="sign-up-form">
    <div>First Name: <input id="first_name" value="aub"> <b id="first-err"></b> </div>
    <div>Last Name <input id="last_name" value="johnson"> <b id="last-err"></b> </div>
    <div>Email <input id="password" value="aub@email"> <b id="email-err"></b> </div>
    <div>Username <input id="username" value="aubjohn"> <b id="username-err"></b> </div>
    <div>Password <input id="password" value="****"> <b id="password-err"></b> </div>
    <button>Sign Up</button>
  </form>



<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="../static/recipe.js"></script>

</body>
</html>