{% extends 'base.html' %}

{% block body %}

  <div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2>Welcome back.</h2>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Log in</button>
      </form>
    </div>
  </div>

{% endblock %}


  <!-- <h1>Login</h1>
  <form id="sign-up-form">
    <div>First Name: <input id="first_name" value="aub"> <b id="first-err"></b> </div>
    <div>Last Name <input id="last_name" value="johnson"> <b id="last-err"></b> </div>
    <div>Email <input id="password" value="aub@email"> <b id="email-err"></b> </div>
    <div>Username <input id="username" value="aubjohn"> <b id="username-err"></b> </div>
    <div>Password <input id="password" value="****"> <b id="password-err"></b> </div>
    <button>Sign Up</button>
  </form> -->