{% extends "base.html" %}
{% block title %}Recipe Info{% endblock %}

{% block body %}



<h1>Recipe Name</h1>
<img src="https://images.pexels.com/photos/1095550/pexels-photo-1095550.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="yum yum food description" width="500">
<h3>Ready in somenum minutes</h3>
<h3>Serves somenum</h3>

<ul>
    <li>Ingredient 1</li>
    <li>Ingredient 2</li>
    <li>Ingredient 3</li>
    <li>Ingredient 4</li>
</ul>

<h2>Instructions</h2>
<ol>
    <li>Mix ingredients</li>
    <li>Bake the mix of ingredients</li>
    <li>Add garnish</li>
    <li>Eat yum yum food</li>
</ol>






{% endblock %}