{% extends "base.html" %}

<style>
  /* The protein selection slider styles from W3Schools https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.protein_scale {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.protein_scale:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.protein_scale::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.protein_scale::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
</style>

{% block body %}


<body>
  <div class="container">
    
    <h1>Search For Recipes</h1>

    <div class="container" style="height: 200px; width: 30%; display: float; float: left; background-color: lightcyan; text-align: center">
      <h2>Cuisines</h2>
      <button><a href="/cuisine">Search Cuisines</a></button>
    </div>

    <div class="container" style="height: 200px; width: 30%; display: float; float: left; background-color: lightpink; text-align: center">
      <h2>Popular</h2>
      <button><a href="/popular">Most Popular</a></button>
    </div>

    <div class="container" style="height: 200px; width: 30%; display: float; float: left; background-color: lightgray; text-align: center">
      <h2>Key Word</h2>
      <form>
          <input id="search-query" value="quinoa"></br>

          <input type="checkbox" id="gluten_free">
          <label for="gluten_free">Gluten Free</label><br>

          <label for="protein_scale"></label><p>Protien per Serving: <span id="demo"></span></p>
          <input type="range" id="protein_scale" name="protein_scale" min=5 max=25></br>

          <button id="search">Search</button>
      </form>
      <div id="search-results"></div>
    </div>
    

  </div>




<script src="https://unpkg.com/axios/dist/axios.js"></script>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="../static/recipe.js"></script>


</html>

{% endblock %}