:root {
    --green: rgb(41, 185, 154);
    --lightgreen: rgb(114, 211, 190);
    --lightergreen: rgb(200 229 223);
    --white: #ffffff;
    --darkgrey: rgb(48, 48, 48);
    --mediumgrey: rgb(87, 87, 87);
    --lightgrey: rgb(155, 155, 155);
}

.fav_true {
    background: rgb(187, 90, 90);
    color: black;
}

section {
    background-color: white;
}

img {
    width: 100%;
}

#fav_div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

h1 {
    margin: 0px;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    width: 100%;
}

h4 {
    padding-left: 10%;
    color: var(--green);
}
h5 {
    padding-left: 10%;
}


ol, ul#ingredients {
    margin: 0px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 25px;
}

@media only screen and (min-width: 426px) {
    img, h1 {
        padding-left: 10%;
        padding-right: 10%;
    }
    h1 {
        font-size: 35px;
        padding-top: 30px;
    }

    h2 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 20px;
    }

    ol, ul#ingredients {
        font-size: 25px;
        margin-right: 10%;
        margin-left: 10%;
    }
}


@media only screen and (min-width: 600px) {

    body {
        max-width: 1000px;
        margin: auto;
    }
     h1 {
         font-size: 45px;
     }
     h2 {
         font-size: 30px;
     }
     h4 {
         font-size: 28px;
     }
     h5 {
         font-size: 28px;
     }
}
