:root {
    --blue: #1e90ff;
    --green: rgb(41, 185, 154);
    --lightgreen: rgb(114, 211, 190);
    --lightergreen: rgb(200 229 223);
    --white: #ffffff;
    --darkgrey: rgb(48, 48, 48);
    --lightgrey: rgb(155, 155, 155);
  }

a {
    color: var(--darkgrey);
}

 
.slideanim, .slideanim_right {visibility: hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}
.slide_right {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide_right;
    /* The duration of the animation */
    animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0 to 100% opacity and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(70%, 30%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
      }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translate(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%)
    }
}

@keyframes slide_right {
    0% {
        opacity: 0;
        transform: translate(-70%, 30%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
      }
}
@-webkit-keyframes slide_right {
    0% {
        opacity: 0;
        -webkit-transform: translate(-70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0%)
    }
}





h1 {
    font-weight: lighter;
    color: var(--green);
    font-size: 60px;
    padding: 25px 5px 25px 5px;
    text-align: center;
}

h2 {
    font-size: 50px;
    margin-bottom: 0px;
}

.cont {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px 0 20px 0;
}

.cont a{
    text-align: center;
}

#query_box div{
    padding-bottom: 0px;
}

i.search-icon {
    font-size: 120px;
}
i.fa-search {
    font-size: 60px;
}
input#search-query {
    font-size: 25px;
    padding: 5px;
}
button#search {
    width: 50%;
    border-radius: 5%;
    margin-left: 25%;
}
p {
    float: left;
    margin-top: 3.5px;
    margin-top: 15px;
    font-size: 20px;
}
span#protein_amt {
    float: left;
    font-size: 20px;
    font-weight: bolder;
    margin: 4px;
    margin-top: 15px;
}

#search_body {
    padding-bottom: 25px;
}



@media only screen and (min-width: 426px) {

    h1 {
        font-size: 70px;
    }

    .cont h2 {
        font-size: 50px;
        position: initial;
        margin-top: 0px;
    }

    #query_box {
        padding-top: 5%;
        padding-bottom: 8%;
    }

   
}


@media only screen and (min-width: 600px) {

    #search_body {
        padding-inline: 10%;
    }
    
}


@media only screen and (min-width: 950px) {

    #search_body {
        padding-inline: 15%;
    }
    
}